*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
.footer{
	background-color: #24262b;
	padding: 70px 0px;
}
.container{
	
	width: 1170px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style-type: none;
}
.footer-col{
	width: 25%;
	padding:0 15px;

}
.footer-col h4{
	color: white;
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500px;
	position: relative;
	text-decoration: underline;
	border-color: red;

}

.footer-col ul li{

	margin-bottom: 10px;
	line-height: 20px;
}
.footer-col ul li a{
	font-weight: 300px;
	font-size: 16px;
	color: #ffffff;
	color: #bbbbbb;
	text-decoration: none;
	display: block;
	text-transform: capitalize;
	transition: 0.5s;


}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 10px;
}
.footer-col .social-link a{
	display: inline-block;
	width: 40px;
	height: 40px;
	color: white;
	background-color: rgb(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	transition: 0.5s;
}
.footer-col .social-link a:hover{
	color:  #24262b;
	background-color: #ffffff;
}